:root {
    --background-color: white;
    --outline-color-one: #003b36;
    --outline-color-two: #012622;
    --primary-color: #e98a15;
    --secondary-color: #59114d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr;
}

header {
    border: 2px solid var(--outline-color-one);
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.search {
   grid-row: 1 / 2;

   display: grid;
   grid-template-columns: 1fr 8fr;
   align-items: center;
   margin-left: 50px;
}

.search-icon {
    text-align: center;
}

input {
    width: 400px;
}

.user-notification {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 75px);
    align-items: center;
    justify-items: center;
}

.notification-icon {
    text-align: end;
}

.user-notification img {
    border-radius: 50%;
}

.greeting {
    display: grid;
    grid-template-columns: 75px 200px;
    align-items: center;
    margin-left: 50px;
}

.greeting img {
    border-radius: 50%;
}

.hello {
    text-align: start;
    margin-left: 10%;
}

.project-buttons {
    grid-column: 3 / 4;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 75px);
    align-items: center;
    margin-right: 50px;
}

button {
    height: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

}

.sidebar {
    border: 2px solid var(--outline-color-two);
    padding: 5%;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 1fr 8fr;
}

.branding {
    font-size: 24px;
}

.navigation {    
}

.navigation-item {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    border: 2px solid olive;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.project-card {
    border: 2px solid brown;
    height: 150px;
}

.announcements, .trending {
    grid-column: 2 / 3;

    border: 2px solid goldenrod;
    padding: 10px;
}

.announcement-item, .trending-item {
    border: 2px solid crimson;
    margin-top: 10px;
    height: 50px;
    grid-column: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
}