:root {
    --background-color-one: #102B3F;
    --background-color-two: #062726;
    --primary-color: #6247AA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 1fr;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  
  }

/* Header Styling */
header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--background-color-one);
    color: white;
}

.greeting {
    display: grid;
    grid-template-columns: 75px 200px;
    align-items: center;
    margin-left: 50px;
    padding-top: 10px;
    font-weight: bold;

}

.greeting img {
    border-radius: 50%;
}

.hello {
    text-align: start;
    margin-left: 10%;
}

.user-notification {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 75px);
    align-items: center;
    justify-items: center;
    font-weight: bold;
}

.notification-icon {
    text-align: end;
}

.user-notification img {
    border-radius: 50%;
}

.search {
   grid-row: 2 / 3;
   display: grid;
   grid-template-columns: 1fr 8fr;
   align-items: center;
   margin-left: 50px;
}

.search-icon {
    text-align: center;
}

input {
    width: 400px;
    border-radius: 4px;
}

.header-buttons {
    grid-column: 3 / 4;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 75px);
    align-items: center;
    margin-right: 50px;
}

button {
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    border: none;
    margin-bottom: 5px;
}

/* Sidebar Styling*/
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding: 5%;
    background-color: var(--background-color-two);
    color: white;
}

.branding {
    font-size: 35px;
    font-weight: 900;
}

.navigation-item {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Main Content Styling */
.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
    display: grid;
    gap: 10px;
}

.title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: large;
    font-weight: bold;
}

.project-card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 150px;
    border-left: 8px solid var(--primary-color);
    background-color: #F2F3F4;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px;
    font-weight: bold;
}

.project-card p {
    font-weight:100;
    grid-column: 1 / 3;
}

.project-card-action {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
}

.announcements, .trending {
    grid-column: 2 / 3;
    border-radius: 4px;
    padding: 10px;
}

.announcement-item, .trending-item {
    grid-column: 1 / 2;
    border-bottom: 2px solid #A06CD5;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

.announcement-item p {
    font-weight: 100;
}

.trending {
    grid-column: 2 / 3;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.trending-item img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
}

.trending-item .handle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 20px;
    font-size: 16px;
    font-weight: 100;
}

.trending-item .trending-project {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 20px;
    font-size: 12px;
    font-weight: 100;
}